Repository wizardsofts/wizardsofts-megabuild: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-appwrite, validate-docker-compose, validate-traefik-config, dependency-scan-python, dependency-scan-node, dependency-scan-java

Path conditions:
  deploy-appwrite: any of: docker-compose.appwrite.yml, .env.appwrite*, traefik/console-env.js
  validate-docker-compose: any of: docker-compose*.yml, infrastructure/**/*, traefik/**/*
  validate-traefik-config: any of: traefik/**/*
  dependency-scan-python: any of: **/*.py, **/requirements*.txt, **/pyproject.toml
  dependency-scan-node: any of: **/package.json, **/package-lock.json
  dependency-scan-java: any of: **/pom.xml

feat: Add distributed ML infrastructure (Phase 1 & 2 complete)
  docs/DISTRIBUTED_ML_EXECUTION_OPTIONS.md
  docs/DISTRIBUTED_ML_IMPLEMENTATION_PLAN.md
  docs/PHASE1_DEPLOYMENT_SUMMARY.md
  docs/PHASE2_CELERY_VALIDATION_REPORT.md
  infrastructure/distributed-ml/DEPLOYMENT_RESULTS.md
  infrastructure/distributed-ml/HARDWARE_AUDIT.md
  infrastructure/distributed-ml/QUICKSTART.md
  infrastructure/distributed-ml/README.md
  infrastructure/distributed-ml/celery/.env.celery.example
  infrastructure/distributed-ml/celery/Dockerfile.celery
  infrastructure/distributed-ml/celery/README.md
  infrastructure/distributed-ml/celery/docker-compose.celery.yml
  infrastructure/distributed-ml/celery/example_usage.py
  infrastructure/distributed-ml/celery/tasks/__init__.py
  infrastructure/distributed-ml/celery/tasks/celeryconfig.py
  infrastructure/distributed-ml/celery/tasks/data_tasks.py
  infrastructure/distributed-ml/celery/tasks/ml_tasks.py
  infrastructure/distributed-ml/celery/tasks/simple_tasks.py
  infrastructure/distributed-ml/celery/validation_tests.py
  infrastructure/distributed-ml/examples/01-hello-ray.py
  infrastructure/distributed-ml/examples/02-distributed-training.py
  infrastructure/distributed-ml/examples/03-data-processing.py
  infrastructure/distributed-ml/examples/04-runtime-dependencies.py
  infrastructure/distributed-ml/monitoring/prometheus-config-ray.yml
  infrastructure/distributed-ml/monitoring/prometheus-rules-ray.yml
  infrastructure/distributed-ml/ray/.env.ray
  infrastructure/distributed-ml/ray/Dockerfile.ray-head
  infrastructure/distributed-ml/ray/Dockerfile.ray-worker
  infrastructure/distributed-ml/ray/Dockerfile.ray-worker-light
  infrastructure/distributed-ml/ray/docker-compose.ray-head.yml
  infrastructure/distributed-ml/ray/docker-compose.ray-worker.yml
  infrastructure/distributed-ml/ray/docker-compose.ray-workers-multi.yml
  infrastructure/distributed-ml/redis/.env.redis.example
  infrastructure/distributed-ml/redis/docker-compose.redis.yml
  infrastructure/distributed-ml/scripts/configure-firewall-manual.sh
  infrastructure/distributed-ml/scripts/configure-firewall.sh
  infrastructure/distributed-ml/scripts/deploy-celery.sh
  infrastructure/distributed-ml/scripts/deploy-multi-workers.sh
  infrastructure/distributed-ml/scripts/setup-ray-head.sh
  infrastructure/distributed-ml/scripts/setup-ray-worker.sh
Due: validate-docker-compose, dependency-scan-python

docs: Add Phase 2 networking architecture retrospective
  CLAUDE.md
  docs/DISTRIBUTED_ML_NETWORKING.md
Due: none

feat: Add Claude + Slack integration POC documentation
  CLAUDE.md
  docs/CLAUDE_SLACK_CUSTOM_BOT.md
  docs/CLAUDE_SLACK_POC.md
  docs/CLAUDE_SLACK_README.md
  docs/CLAUDE_SLACK_TEST_PLAN.md
Due: none

feat: Add Hadith Knowledge Graph foundational architecture
  apps/hadith-knowledge-graph/README.md
  apps/hadith-knowledge-graph/docs/IMPLEMENTATION_STATUS.md
  apps/hadith-knowledge-graph/infrastructure/.env.example
  apps/hadith-knowledge-graph/infrastructure/docker-compose.yml
  apps/hadith-knowledge-graph/infrastructure/neo4j_schema.cypher
  apps/hadith-knowledge-graph/infrastructure/schema.sql
  apps/hadith-knowledge-graph/requirements.txt
  apps/hadith-knowledge-graph/src/config.py
  apps/hadith-knowledge-graph/src/models/__init__.py
  apps/hadith-knowledge-graph/src/models/entities.py
  apps/hadith-knowledge-graph/src/models/schemas.py
  apps/hadith-knowledge-graph/src/utils/__init__.py
Due: dependency-scan-python

docs: Add comprehensive project summary for Hadith Knowledge Graph
  HADITH_KG_SUMMARY.md
Due: none

feat: Implement hadith knowledge graph extraction pipeline (Phase 1-3)
  apps/hadith-knowledge-graph/infrastructure/docker-compose.yml
  apps/hadith-knowledge-graph/infrastructure/schema_no_vector.sql
  apps/hadith-knowledge-graph/scripts/extract_500_samples.py
  apps/hadith-knowledge-graph/scripts/init_neo4j.py
  apps/hadith-knowledge-graph/scripts/init_neo4j_direct.sh
  apps/hadith-knowledge-graph/scripts/test_single_hadith.py
  apps/hadith-knowledge-graph/src/config.py
  apps/hadith-knowledge-graph/src/distributed/__init__.py
  apps/hadith-knowledge-graph/src/distributed/ray_workers.py
  apps/hadith-knowledge-graph/src/distributed/tasks.py
  apps/hadith-knowledge-graph/src/extraction/__init__.py
  apps/hadith-knowledge-graph/src/extraction/entity_extractor.py
  apps/hadith-knowledge-graph/src/extraction/entity_resolver.py
  apps/hadith-knowledge-graph/src/extraction/pipeline.py
  apps/hadith-knowledge-graph/src/models/__init__.py
  apps/hadith-knowledge-graph/src/models/entities.py
  apps/hadith-knowledge-graph/src/rag/__init__.py
  apps/hadith-knowledge-graph/src/rag/query_engine.py
  apps/hadith-knowledge-graph/src/rag/retriever.py
  apps/hadith-knowledge-graph/src/utils/database.py
  apps/hadith-knowledge-graph/src/utils/embeddings.py
  apps/hadith-knowledge-graph/src/utils/text_processing.py
Due: dependency-scan-python

docs: Add implementation status and next steps for Phase 4
  apps/hadith-knowledge-graph/IMPLEMENTATION_STATUS.md
Due: none

feat: Add extraction worker container and next steps documentation
  apps/hadith-knowledge-graph/NEXT_STEPS.md
  apps/hadith-knowledge-graph/infrastructure/Dockerfile.extraction
  apps/hadith-knowledge-graph/infrastructure/docker-compose.extraction.yml
  apps/hadith-knowledge-graph/scripts/test_ollama_direct.py
Due: dependency-scan-python

docs: Architecture corrections - remove duplication, fix security
  ARCHITECTURE_CORRECTIONS.md
Due: none

security: Remove duplicate services and fix port exposures
  apps/hadith-knowledge-graph/.env.example
  apps/hadith-knowledge-graph/SECURITY_VULNERABILITIES.md
  apps/hadith-knowledge-graph/infrastructure/docker-compose.yml
  apps/hadith-knowledge-graph/scripts/security_scan.sh
Due: none

refactor: Optimize database schema and add CI/CD pipeline
  ARCHITECTURE_CORRECTIONS.md
  apps/hadith-knowledge-graph/.gitlab-ci.yml
  apps/hadith-knowledge-graph/src/models/entities.py
Due: dependency-scan-python

docs: Add comprehensive deployment guide
  DEPLOYMENT_GUIDE.md
Due: none

security: Fix network config - local network access with UFW firewall
  ARCHITECTURE_CORRECTIONS.md
  apps/hadith-knowledge-graph/infrastructure/docker-compose.yml
  apps/hadith-knowledge-graph/infrastructure/ufw-rules.sh
Due: none

docs: Add quick deployment guide and update status
  DEPLOYMENT_GUIDE.md
  QUICK_DEPLOY.md
Due: none

docs: Add merge request summary with complete change overview
  MERGE_REQUEST_SUMMARY.md
Due: none

security: Update network security guidelines - local network with UFW
  CLAUDE.md
  infrastructure/ollama/docker-compose.yml
Due: validate-docker-compose

security: Add mandatory security scanning and shared Ollama
  CLAUDE.md
  infrastructure/ollama/README.md
  infrastructure/ollama/docker-compose.yml
Due: validate-docker-compose

ci: Add Hadith Knowledge Graph deployment to CI/CD pipeline
  .gitlab/ci/apps.gitlab-ci.yml
Due: none

docs: Add user-level skill documentation for DevOps, Database Admin, and Server Security
  docs/SKILLS_DATABASE_ADMIN.md
  docs/SKILLS_DEVOPS.md
  docs/SKILLS_SERVER_SECURITY.md
Due: none

feat: Add user authentication for guardianinvestmentbd.com
  apps/gibd-quant-calibration/pyproject.toml
  apps/gibd-quant-calibration/src/auth/__init__.py
  apps/gibd-quant-calibration/src/auth/jwt_validator.py
  apps/gibd-quant-nlq/pyproject.toml
  apps/gibd-quant-nlq/src/auth/__init__.py
  apps/gibd-quant-nlq/src/auth/jwt_validator.py
  apps/gibd-quant-signal/pyproject.toml
  apps/gibd-quant-signal/src/auth/__init__.py
  apps/gibd-quant-signal/src/auth/jwt_validator.py
  apps/gibd-quant-web/.env.example
  apps/gibd-quant-web/app/coming-soon/page.tsx
  apps/gibd-quant-web/middleware.ts
  docs/GUARDIAN_AUTH_IMPLEMENTATION.md
  infrastructure/keycloak/realms/wizardsofts-realm.json
  traefik/dynamic_conf.yml
Due: validate-docker-compose, validate-traefik-config, dependency-scan-python

feat: Protect backend API endpoints with JWT validation
  apps/gibd-quant-calibration/src/api/main.py
  apps/gibd-quant-nlq/src/api/main.py
  apps/gibd-quant-signal/src/api/main.py
Due: dependency-scan-python

fix: Correct uv pip install syntax in Dockerfiles
  apps/gibd-quant-calibration/Dockerfile
  apps/gibd-quant-nlq/Dockerfile
  apps/gibd-quant-signal/Dockerfile
Due: none

perf: Add .dockerignore to reduce Docker build context
  apps/gibd-quant-calibration/.dockerignore
  apps/gibd-quant-nlq/.dockerignore
  apps/gibd-quant-signal/.dockerignore
Due: none

fix: Update python-jose version to >=3.3.0
  apps/gibd-quant-calibration/pyproject.toml
  apps/gibd-quant-nlq/pyproject.toml
  apps/gibd-quant-signal/pyproject.toml
Due: dependency-scan-python

fix: Use requirements.txt instead of pyproject.toml in Dockerfiles
  apps/gibd-quant-calibration/Dockerfile
  apps/gibd-quant-calibration/requirements.txt
  apps/gibd-quant-nlq/Dockerfile
  apps/gibd-quant-nlq/requirements.txt
  apps/gibd-quant-signal/Dockerfile
  apps/gibd-quant-signal/requirements.txt
Due: dependency-scan-python
