Repository wizardsofts/wizardsofts-megabuild: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-appwrite, test-spring-boot-apps, test-python-apps, test-nextjs-apps, test-diviner-returns, build-app-images, hadith-knowledge-graph, validate-docker-compose, validate-traefik-config, dependency-scan-python, dependency-scan-node, dependency-scan-java

Path conditions:
  deploy-appwrite: any of: docker-compose.appwrite.yml, .env.appwrite*, traefik/console-env.js
  test-spring-boot-apps: any of: apps/**/*
  test-python-apps: any of: apps/**/*
  test-nextjs-apps: any of: apps/**/*
  test-diviner-returns: any of: apps/gibd-quant-agent/**/*
  build-app-images: any of: apps/**/*
  hadith-knowledge-graph: any of: apps/hadith-knowledge-graph/**/*, infrastructure/ollama/**/*
  validate-docker-compose: any of: docker-compose*.yml, infrastructure/**/*, traefik/**/*
  validate-traefik-config: any of: traefik/**/*
  dependency-scan-python: any of: **/*.py, **/requirements*.txt, **/pyproject.toml
  dependency-scan-node: any of: **/package.json, **/package-lock.json
  dependency-scan-java: any of: **/pom.xml

fix(ray): Fix worker Dockerfile script generation and Train V2 API
  infrastructure/distributed-ml/ray/Dockerfile.ray-worker
Due: validate-docker-compose

docs(ray): Add comprehensive deployment results and test summary
  RAY_2.53_DEPLOYMENT_RESULTS.md
Due: none

docs(ray): Add 2-epoch PPO training test results
  RAY_2.53_2EPOCH_TEST_RESULTS.md
  RAY_2.53_DEPLOYMENT_RESULTS.md
Due: none

docs(ray): Add 10-epoch multi-worker PPO training test results
  RAY_2.53_10EPOCH_TEST_RESULTS.md
Due: none

feat(monitoring): Add Grafana dashboard and Prometheus config for Ray 2.53.0
  infrastructure/distributed-ml/ray/grafana-ray-dashboard.json
  infrastructure/distributed-ml/ray/prometheus-ray-scrape.yml
Due: validate-docker-compose

docs(claude): Update Ray 2.53.0 deployment status to PRODUCTION
  CLAUDE.md
Due: none

docs: Add comprehensive TARP-DRL training execution plan with background monitoring
  docs/TARP_DRL_TRAINING_EXECUTION_PLAN.md
Due: none

feat(ray): Add disk usage limits to prevent accumulation during training
  CLAUDE.md
  docs/TARP_DRL_PRODUCTION_SOLUTION.md
  infrastructure/distributed-ml/ray/Dockerfile.ray-head
Due: validate-docker-compose

test: Complete test automation for ticker page architecture
  apps/gibd-quant-web/CLAUDE.md
  apps/gibd-quant-web/TEST_RESULTS.md
  apps/gibd-quant-web/app/globals.css
  apps/gibd-quant-web/package-lock.json
  apps/gibd-quant-web/package.json
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, dependency-scan-node

docs: Add comprehensive chart library research report
  apps/gibd-quant-web/docs/CHART_LIBRARY_RESEARCH.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Add comprehensive future scope roadmaps for gibd-quant-web
  FUTURE_SCOPE.md
  apps/gibd-quant-web/FUTURE_SCOPE.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Update wizchart implementation plan - Phase 0 complete
  apps/gibd-quant-web/docs/WIZCHART_IMPLEMENTATION_PLAN.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Add Ollama Docker Swarm autoscaling deployment
  apps/hadith-knowledge-graph/docs/CORRECTED_EXTRACTION_PLAN.md
  apps/hadith-knowledge-graph/docs/RAY_DISTRIBUTED_EXTRACTION_PLAN.md
  apps/hadith-knowledge-graph/docs/REALITY_CHECK_AUTOSCALING.md
  docs/OLLAMA_SWARM_DEPLOYMENT_GUIDE.md
  scripts/DEPLOYMENT_STEPS.md
  scripts/deploy_ollama_swarm.sh
  scripts/setup_nfs_client84.sh
  scripts/setup_nfs_server80.sh
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, hadith-knowledge-graph

docs: Add comprehensive deployment readiness summary
  OLLAMA_AUTOSCALING_READY.md
Due: none

docs: Simplify Ollama autoscaling - Replace HAProxy with Traefik
  docs/OLLAMA_AUTOSCALING_SIMPLIFIED.md
  scripts/autoscale_ollama.sh
  scripts/setup_nfs_client81.sh
Due: none

feat: Create GitLab agent user for automation with full documentation
  CLAUDE.md
  docs/AGENT_USER_SETUP.md
  docs/GITLAB_ADMIN_USER.md
  docs/GITLAB_AGENT_USER.md
Due: none

feat: Integrate CompanyChart into dashboard ticker page
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/page.tsx
  apps/gibd-quant-web/app/test-chart/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Server 82 setup + final Ollama Swarm deployment
  docs/OLLAMA_FINAL_DEPLOYMENT.md
  scripts/deploy_ollama_swarm_final.sh
  scripts/remove_haproxy_autoscaler.sh
  scripts/setup_nfs_client82.sh
  scripts/setup_server82_user.sh
Due: none

docs: Update CLAUDE.md with chart integration details
  apps/gibd-quant-web/CLAUDE.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Add comprehensive chart integration summary
  apps/gibd-quant-web/CHART_INTEGRATION_SUMMARY.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Add mock data fallback for CompanyChart when API unavailable
  apps/gibd-quant-web/components/company/CompanyChart.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Add technical indicator selection to CompanyChart
  apps/gibd-quant-web/components/company/CompanyChart.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Update CLAUDE.md with indicator selection feature
  apps/gibd-quant-web/CLAUDE.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Implement multi-indicator support with customizable parameters
  CLAUDE.md
  apps/gibd-quant-web/components/company/CompanyChart.tsx
  package-lock.json
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, dependency-scan-node

docs: Update CLAUDE.md with multi-indicator feature details
  apps/gibd-quant-web/CLAUDE.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Enhance chart tooltip to display indicator values on hover
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/chart/page.tsx
  apps/gibd-quant-web/components/company/CompanyChart.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Update CLAUDE.md with tooltip enhancement details
  apps/gibd-quant-web/CLAUDE.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Add comprehensive tooltip enhancement documentation
  apps/gibd-quant-web/TOOLTIP_ENHANCEMENT_SUMMARY.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

fix: Convert ticker tabs to client-side routing with state persistence
  CLAUDE.md
  apps/gibd-news/config/application-hp.properties
  apps/gibd-news/scripts/backfill_indicators.py
  apps/gibd-news/scripts/test_backfill_indicators.py
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/[...tab]/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/analysis/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/chart/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/dividends/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/financials/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/layout.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/news/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/returns/page.tsx
  apps/gibd-quant-web/components/company/CompanyChart.tsx
  docs/INDICATOR_BACKFILL.md
  docs/INDICATOR_BACKFILL_IDEMPOTENCY.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, dependency-scan-python

docs: Add AddIndicatorPanel component integration plan for wizchart
  CLAUDE.md
Due: none

docs: Add Technical Indicator Backfill System documentation
  CLAUDE.md
Due: none

feat: Extract AddIndicatorPanel to @wizardsofts/wizchart-interactive library
  .claude/skills/frontend-developer.md
  apps/gibd-quant-web/components/company/CompanyChart.tsx
  apps/gibd-quant-web/next.config.js
  apps/gibd-quant-web/package-lock.json
  apps/gibd-quant-web/package.json
  infrastructure/monitoring/docker-compose.yml
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, validate-docker-compose, dependency-scan-node

feat: Extract AddIndicatorPanel to reusable wizchart library component
  CLAUDE.md
  apps/gibd-quant-web/README.md
  apps/gibd-quant-web/__tests__/components/add-indicator-panel.test.ts
  apps/gibd-quant-web/app/company/[ticker]/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/HoldingContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/layout.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/news/NewsContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/ProfileContent.tsx
  apps/gibd-quant-web/components/company/CompanyChart.tsx
  apps/gibd-quant-web/components/providers/auth-provider.tsx
  apps/gibd-quant-web/components/providers/theme-provider.tsx
  apps/gibd-quant-web/hooks/use-auth.ts
  apps/gibd-quant-web/lib/theme.ts
  apps/gibd-quant-web/lib/utils.ts
  apps/gibd-quant-web/next.config.js
  apps/gibd-quant-web/tsconfig.json
  infrastructure/monitoring/monitoring-stack.yml
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, validate-docker-compose

docs: Add critical GitLab dependency warnings and backup automation
  CLAUDE.md
Due: none

fix: Restore monitoring stack with SSL fix and Grafana dashboards
  infrastructure/monitoring/docker-compose.yml
  infrastructure/monitoring/grafana/dashboards/docker-containers.json
  infrastructure/monitoring/grafana/dashboards/node-exporter.json
Due: validate-docker-compose

docs: Add comprehensive critical infrastructure documentation
  CLAUDE.md
  infrastructure/monitoring/grafana/dashboards/all-servers-executive.json
  infrastructure/monitoring/grafana/dashboards/all-servers-security.json
  infrastructure/monitoring/grafana/dashboards/server-81-security.json
  infrastructure/monitoring/grafana/dashboards/server-84-security.json
Due: validate-docker-compose

docs: Comprehensive infrastructure documentation with incident log
  CLAUDE.md
Due: none

feat: Implement Company Profile component with comprehensive company information
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/ProfileContent.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Link knowledge base service architecture to root future scope
  FUTURE_SCOPE.md
Due: none
