Repository wizardsofts/wizardsofts-megabuild: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-appwrite, test-spring-boot-apps, test-python-apps, test-nextjs-apps, test-diviner-returns, build-app-images, hadith-knowledge-graph, validate-docker-compose, validate-traefik-config, dependency-scan-python, dependency-scan-node, dependency-scan-java

deploy-appwrite:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client rsync bash curl
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - ssh-keyscan -H $DEPLOY_HOST >> ~/.ssh/known_hosts 2>/dev/null
  script:
  ...

test-spring-boot-apps:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
    - .m2/repository/
  script:
  ...

test-python-apps:
  stage: test
  image: ghcr.io/astral-sh/uv:python3.11-bookworm
  cache:
    key: pip-$CI_COMMIT_REF_SLUG
    paths:
    - .cache/pip/
  script:
  ...

test-nextjs-apps:
  stage: test
  image: node:20-alpine
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
    - apps/*/node_modules/
  script:
  ...

test-diviner-returns:
  stage: test
  image: ghcr.io/astral-sh/uv:python3.11-bookworm
  cache:
    key: pip-diviner-$CI_COMMIT_REF_SLUG
    paths:
    - .cache/pip/
  script:
  - cd apps/gibd-quant-agent
  - echo "Installing dependencies..."
  - uv pip install --system -e .
  - echo "Running DivinerReturns unit tests..."
  ...

build-app-images:
  stage: build
  image: docker:24-cli
  services:
  - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
  script:
  ...

hadith-knowledge-graph:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - ssh-keyscan -H 10.0.0.84 >> ~/.ssh/known_hosts
  script:
  - echo "ðŸš€ Deploying Hadith Knowledge Graph to Server 84..."
  ...

validate-docker-compose:
  stage: validate
  image: docker:24-cli
  script:
  ...

validate-traefik-config:
  stage: validate
  image: traefik:v2.10
  script:
  - "echo \"Validating Traefik configuration...\"\n\nif [ -f \"traefik/traefik.yml\" ]; then\n  traefik healthcheck --configFile=traefik/traefik.yml 2>&1 || echo \"Config validation done\"\nfi\n\necho \"Traefik configuration validation complete!\"\n"
  ...

dependency-scan-python:
  stage: test
  image: python:3.11-slim
  script:
  ...

dependency-scan-node:
  stage: test
  image: node:20-alpine
  script:
  ...

dependency-scan-java:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  script:
  ...

fix: Remove src. prefix from internal imports
  apps/gibd-quant-calibration/src/database/connection.py
  apps/gibd-quant-calibration/src/profiling/calibrator.py
  apps/gibd-quant-nlq/src/database/connection.py
  apps/gibd-quant-nlq/src/nlq/__init__.py
  apps/gibd-quant-nlq/src/nlq/api.py
  apps/gibd-quant-nlq/src/nlq/executor/__init__.py
  apps/gibd-quant-nlq/src/nlq/executor/base.py
  apps/gibd-quant-nlq/src/nlq/executor/comparison_executor.py
  apps/gibd-quant-nlq/src/nlq/executor/ranking_executor.py
  apps/gibd-quant-nlq/src/nlq/executor/threshold_executor.py
  apps/gibd-quant-nlq/src/nlq/executor/trend_executor.py
  apps/gibd-quant-nlq/src/nlq/parser/__init__.py
  apps/gibd-quant-nlq/src/nlq/parser/llm_parser.py
  apps/gibd-quant-nlq/src/nlq/parser/pattern_parser.py
  apps/gibd-quant-signal/src/database/connection.py
  apps/gibd-quant-signal/src/engine/batch_calculator.py
  apps/gibd-quant-signal/src/engine/indicator_pipeline.py
  apps/gibd-quant-signal/src/engine/signal_engine.py
  apps/gibd-quant-signal/src/sectors/manager.py
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, dependency-scan-python

fix: Add scipy dependency to calibration service
  apps/gibd-quant-calibration/requirements.txt
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, dependency-scan-python

feat: add Holdings page using wizwebui components
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/docs/WIZWEBUI_INTEGRATION_ISSUES.md
  apps/gibd-quant-web/next.config.js
  apps/gibd-quant-web/package-lock.json
  apps/gibd-quant-web/package.json
  apps/gibd-quant-web/tsconfig.json
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, dependency-scan-node

docs: add implementation summary and status
  IMPLEMENTATION_SUMMARY.md
Due: none

docs: Add comprehensive knowledge base service architecture research
  docs/KNOWLEDGE_BASE_SERVICE_ARCHITECTURE_RESEARCH.md
  docs/KNOWLEDGE_BASE_SERVICE_RETROSPECTIVE.md
Due: none

fix: Resolve Ray cluster GCS health check timeout causing worker restarts
  infrastructure/distributed-ml/ray/Dockerfile.ray-head
Due: validate-docker-compose

fix: Resolve Holdings page module resolution errors and apply custom theme
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/app/layout.tsx
  apps/gibd-quant-web/components/providers/theme-provider.tsx
  apps/gibd-quant-web/lib/theme.ts
  apps/gibd-quant-web/lib/utils.ts
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Add placeholder pages for all ticker tabs
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/analysis/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/chart/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/dividends/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/financials/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/news/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/returns/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/summary/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: update Header navigation with new menu structure
  apps/gibd-quant-web/components/layout/Header.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

fix: add text colors to company name and price, remove extra chart
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

fix: match Header and Holdings fonts/layout to mockup
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/components/layout/Header.tsx
  apps/gibd-quant-web/package-lock.json
  apps/gibd-quant-web/package.json
  apps/gibd-quant-web/tsconfig.json
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, dependency-scan-node

feat: Add comprehensive responsive design for mobile devices
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/components/layout/Header.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

fix: Improve mobile responsiveness for Header and Company tabs
  DESIGN_MISMATCH_FIX_PLAN.md
  POLICY_UPDATES_SUMMARY.md
  RETROSPECTIVE_HOLDINGS_PAGE.md
  WIZWEBUI_ENHANCEMENT_PLAN.md
  apps/gibd-quant-web/LAYOUT_FIXES_SUMMARY.md
  apps/gibd-quant-web/MOBILE_RESPONSIVE_SUMMARY.md
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/app/globals.css
  apps/gibd-quant-web/components/layout/Header.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Replace horizontal scroll with burger menu for mobile navigation
  apps/gibd-quant-web/components/layout/Header.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

fix: Make burger menu icon visible by adding explicit color
  apps/gibd-quant-web/components/layout/Header.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat(monitoring): add all-servers executive dashboard
  infrastructure/auto-scaling/monitoring/grafana/dashboards/all-servers-executive.json
Due: validate-docker-compose

feat(monitoring): add role-specific dashboards for DevOps, DBA, MLOps
  infrastructure/auto-scaling/monitoring/grafana/dashboards/dba-dashboard.json
  infrastructure/auto-scaling/monitoring/grafana/dashboards/devops-dashboard.json
  infrastructure/auto-scaling/monitoring/grafana/dashboards/mlops-dashboard.json
Due: validate-docker-compose

feat(monitoring): Add Alertmanager with Appwrite integration
  infrastructure/auto-scaling/.env.alertmanager.example
  infrastructure/auto-scaling/docker-compose.yml
  infrastructure/auto-scaling/monitoring/alertmanager/alertmanager.yml
  infrastructure/auto-scaling/monitoring/prometheus/infrastructure-alerts.yml
  infrastructure/auto-scaling/monitoring/prometheus/prometheus.yml
Due: validate-docker-compose

feat(appwrite): Add alert processor function for Prometheus webhooks
  infrastructure/appwrite/functions/alert-processor/README.md
  infrastructure/appwrite/functions/alert-processor/deploy.sh
  infrastructure/appwrite/functions/alert-processor/package.json
  infrastructure/appwrite/functions/alert-processor/src/main.js
  infrastructure/appwrite/functions/alert-processor/tests/main.test.js
  infrastructure/appwrite/functions/appwrite.json
Due: validate-docker-compose, dependency-scan-node

docs(monitoring): Add comprehensive implementation guide and update status
  MONITORING_APPWRITE_AND_DASHBOARDS.md
  docs/MONITORING_IMPLEMENTATION_GUIDE.md
Due: none

feat(monitoring): Complete deployment configuration
  MONITORING_ENHANCEMENT_SUMMARY.md
  infrastructure/auto-scaling/docker-compose.yml
  infrastructure/auto-scaling/monitoring/grafana/provisioning/dashboards.yml
  infrastructure/auto-scaling/monitoring/grafana/provisioning/datasources.yml
Due: validate-docker-compose

feat(monitoring): Add automated deployment script for Server 84
  infrastructure/auto-scaling/deploy-monitoring.sh
Due: validate-docker-compose

feat(ci): integrate monitoring deployment into CI/CD pipeline
  .gitlab/ci/infra.gitlab-ci.yml
Due: none

docs(monitoring): add CI/CD variables setup guide
  CLAUDE.md
  docs/RAY_WORKER_CLEANUP.md
  docs/monitoring/CICD_VARIABLES.md
  infrastructure/auto-scaling/monitoring/prometheus/infrastructure-alerts.yml
  scripts/cleanup_ray_workers_smart.sh
  scripts/deploy_ray_cleanup.sh
Due: validate-docker-compose

fix: resolve Grafana loading issues and alertmanager configuration
  .claude/skills/frontend-developer.md
  FUTURE_SCOPE.md
  apps/gibd-quant-web/docs/WIZWEBUI_MIGRATION_PLAN.md
  apps/gibd-quant-web/resources/mockup.html
  apps/hadith-knowledge-graph/docs/ENTITY_EXTRACTION_ANALYSIS.md
  apps/hadith-knowledge-graph/docs/JSON_SCHEMA_SUCCESS_REPORT.md
  apps/hadith-knowledge-graph/docs/MODEL_EVALUATION_COMPARISON.md
  apps/hadith-knowledge-graph/docs/OLLAMA_AUTOSCALING.md
  apps/hadith-knowledge-graph/scripts/create_extraction_issues_table.py
  apps/hadith-knowledge-graph/scripts/run_ray_extraction.py
  apps/hadith-knowledge-graph/scripts/store_extraction_results.py
  apps/hadith-knowledge-graph/scripts/test_models_locally.py
  apps/hadith-knowledge-graph/scripts/test_multiple_hadiths.py
  apps/hadith-knowledge-graph/src/config.py
  apps/hadith-knowledge-graph/src/extraction/entity_extractor.py
  apps/hadith-knowledge-graph/src/extraction/entity_resolver.py
  docs/KNOWLEDGE_BASE_SERVICE_ARCHITECTURE_RESEARCH.md
  docs/KNOWLEDGE_BASE_SERVICE_RETROSPECTIVE.md
  infrastructure/auto-scaling/docker-compose.yml
  infrastructure/auto-scaling/monitoring/alertmanager/alertmanager.yml
  scripts/cleanup_ray_workers.sh
  scripts/setup-ray-worker-monitoring.sh
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, hadith-knowledge-graph, validate-docker-compose, dependency-scan-python

feat: Implement mobile-responsive design with wizwebui migration
  apps/gibd-quant-web/CLAUDE.md
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/summary/page.tsx
  apps/gibd-quant-web/docs/MOBILE_RESPONSIVE_IMPLEMENTATION.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Server 81 disk cleanup report
  SERVER_81_DISK_CLEANUP_REPORT.md
Due: none

infra: Decommission Ray cluster and optimize Server 80 worker configuration
  CLAUDE.md
Due: none

refactor(gibd-quant-web): restructure ticker pages to eliminate duplication
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/HoldingContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/ProfileContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Implement production-ready TARP-DRL data pipeline and resource management
  CLAUDE.md
  docs/RAY_2.53_IMPACT_ANALYSIS.md
  docs/RAY_2.53_UPGRADE_CHECKLIST.md
  docs/RAY_2.53_UPGRADE_PLAN.md
  docs/TARP_DRL_PRODUCTION_SOLUTION.md
Due: none

feat: Server disk cleanup and expansion
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/HoldingContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/ProfileContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

fix(gibd-quant-web): implement Next.js 15 async params in redirect pages
  apps/gibd-quant-web/CLAUDE.md
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat(gibd-quant-web): implement News tab with comprehensive news display
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/news/NewsContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/news/page.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Update disk cleanup and expansion documentation
  CLAUDE.md
  SERVER_81_DISK_CLEANUP_REPORT.md
Due: none

feat(gibd-quant-web): add left filter sidebar to News tab
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/news/NewsContent.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat(ray): Upgrade to Ray 2.53.0 with security hardening
  docs/RAY_2.53_SECURITY_AUDIT.md
  docs/RAY_2.53_UPGRADE_CHECKLIST.md
  infrastructure/distributed-ml/ray/.env.ray
  infrastructure/distributed-ml/ray/Dockerfile.ray-head
  infrastructure/distributed-ml/ray/Dockerfile.ray-worker
Due: validate-docker-compose

docs(ray): Add comprehensive deployment guide for Ray 2.53.0
  docs/RAY_2.53_DEPLOYMENT_GUIDE.md
Due: none

docs(ray): Add implementation summary for Phase 1 completion
  RAY_2.53_IMPLEMENTATION_SUMMARY.md
Due: none

docs(gibd-quant-web): update CLAUDE.md with News tab architecture
  apps/gibd-quant-web/CLAUDE.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

fix(gibd-quant-web): prevent page bounce with click-outside handler for mobile menu
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/page.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

Path conditions:
  deploy-appwrite: any of: docker-compose.appwrite.yml, .env.appwrite*, traefik/console-env.js
  test-spring-boot-apps: any of: apps/**/*
  test-python-apps: any of: apps/**/*
  test-nextjs-apps: any of: apps/**/*
  test-diviner-returns: any of: apps/gibd-quant-agent/**/*
  build-app-images: any of: apps/**/*
  hadith-knowledge-graph: any of: apps/hadith-knowledge-graph/**/*, infrastructure/ollama/**/*
  validate-docker-compose: any of: docker-compose*.yml, infrastructure/**/*, traefik/**/*
  validate-traefik-config: any of: traefik/**/*
  dependency-scan-python: any of: **/*.py, **/requirements*.txt, **/pyproject.toml
  dependency-scan-node: any of: **/package.json, **/package-lock.json
  dependency-scan-java: any of: **/pom.xml
