Repository wizardsofts/wizardsofts-megabuild: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-appwrite, test-spring-boot-apps, test-python-apps, test-nextjs-apps, test-diviner-returns, build-app-images, hadith-knowledge-graph, validate-docker-compose, validate-traefik-config, dependency-scan-python, dependency-scan-node, dependency-scan-java

Path conditions:
  deploy-appwrite: any of: docker-compose.appwrite.yml, .env.appwrite*, traefik/console-env.js
  test-spring-boot-apps: any of: apps/**/*
  test-python-apps: any of: apps/**/*
  test-nextjs-apps: any of: apps/**/*
  test-diviner-returns: any of: apps/gibd-quant-agent/**/*
  build-app-images: any of: apps/**/*
  hadith-knowledge-graph: any of: apps/hadith-knowledge-graph/**/*, infrastructure/ollama/**/*
  validate-docker-compose: any of: docker-compose*.yml, infrastructure/**/*, traefik/**/*
  validate-traefik-config: any of: traefik/**/*
  dependency-scan-python: any of: **/*.py, **/requirements*.txt, **/pyproject.toml
  dependency-scan-node: any of: **/package.json, **/package-lock.json
  dependency-scan-java: any of: **/pom.xml

fix: Restore Company Profile, Holdings, and News tab content with mock data
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/holding/HoldingContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/layout.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/news/NewsContent.tsx
  apps/gibd-quant-web/app/dashboard/dse/[ticker]/profile/ProfileContent.tsx
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

docs: Add GIBD News Data Pipeline documentation and fix .env issue
  CLAUDE.md
  docs/GIBD_NEWS_DATA_PIPELINE_HANDOFF.md
Due: none

docs: Add News Entity Extraction & Knowledge Graph to future scope
  FUTURE_SCOPE.md
Due: none

Add comprehensive Traefik security audit documentation (7 files, 163 KB)
  CICD_SECURITY_HARDENING_GUIDE.md
  FUTURE_SCOPE.md
  TRAEFIK_AUDIT_EXECUTIVE_SUMMARY.md
  TRAEFIK_DOCUMENTATION_INDEX.md
  TRAEFIK_IMPLEMENTATION_GUIDE.md
  TRAEFIK_QUICK_ACTION_CHECKLIST.md
  TRAEFIK_SECURITY_AUDIT_REPORT.md
  TRAEFIK_SECURITY_FUTURE_SCOPE.md
Due: none

Implement feature X to enhance user experience and optimize performance
  .github/prompts/plan-grafanaContainerRegistryPipeline.prompt.md
Due: none

Add Long-Running Agent Task Lifecycle Guide documentation
  docs/LONG_RUNNING_AGENT_LIFECYCLE_GUIDE.md
Due: none

infra: Add Prometheus monitoring configuration
  infrastructure/monitoring/prometheus/prometheus.yml
Due: validate-docker-compose

docs: add AGENT.md universal instructions and Docker deployment skill
  .claude/skills/docker-deployment/SKILL.md
  .claude/skills/reflect-and-learn/SKILL.md
  .cursor/rules.md
  .github/copilot-instructions.md
  AGENT.md
  CLAUDE.md
Due: none

docs: Add GitLab security audit documentation and service template
  GITLAB_SECURITY_ACTION_CHECKLIST.md
  GITLAB_SECURITY_AUDIT_INDEX.md
  GITLAB_SECURITY_AUDIT_REPORT.md
  GITLAB_SECURITY_AUDIT_SUMMARY.md
  GITLAB_SECURITY_AUDIT_VISUAL.md
  GITLAB_SECURITY_IMPLEMENTATION_PLAN.md
  templates/SERVICE_AGENT_TEMPLATE.md
Due: none

docs: Add organized documentation structure with hierarchical /docs/ layout
  AGENT.md
  docs/README.md
  docs/architecture/README.md
  docs/archive/README.md
  docs/cicd/README.md
  docs/data-pipelines/README.md
  docs/deployment/README.md
  docs/handoffs/README.md
  docs/integrations/README.md
  docs/operations/README.md
  docs/security/README.md
Due: none

docs: Consolidate and reorganize documentation (Phase 3-5)
  apps/gibd-quant-calibration/README.md
  apps/gibd-quant-celery/README.md
  apps/gibd-quant-nlq/README.md
  apps/gibd-quant-signal/README.md
  apps/pf-padmafoods-web/README.md
  docs/archive/audits/RAY_2.53_SECURITY_AUDIT.md
  docs/archive/migrations/RAY_2.53_UPGRADE_PLAN.md
  docs/archive/migrations/TRAEFIK_CONFIG_MIGRATION.md
  docs/archive/status-reports/APPWRITE_FRESH_INSTALL_GUIDE.md
  docs/archive/status-reports/APPWRITE_HARDENING.md
  docs/archive/status-reports/APPWRITE_QUICK_REFERENCE.md
  docs/archive/status-reports/APPWRITE_QUICK_START.md
  docs/archive/status-reports/APPWRITE_SECURITY.md
  docs/archive/status-reports/CLAUDE_SLACK_README.md
  docs/archive/status-reports/CLAUDE_SLACK_TEST_PLAN.md
  docs/archive/status-reports/COMING_SOON_DEPLOYMENT_GUIDE.md
  docs/archive/status-reports/DEPLOYMENT.md
  docs/archive/status-reports/DEPLOYMENT_CHECKLIST_84.md
  docs/archive/status-reports/DEPLOYMENT_SUMMARY_84.md
  docs/archive/status-reports/LOCAL_TESTING_URLS.md
  docs/archive/status-reports/OLLAMA_AUTOSCALING_SIMPLIFIED.md
  docs/archive/status-reports/OLLAMA_FINAL_DEPLOYMENT.md
  docs/archive/status-reports/PRODUCTION_DEPLOYMENT.md
  docs/archive/status-reports/QUICK_DEPLOY.md
  docs/archive/status-reports/RAY_2.53_IMPACT_ANALYSIS.md
  docs/archive/status-reports/RAY_2.53_UPGRADE_CHECKLIST.md
  docs/deployment/APPWRITE_DEPLOYMENT.md
  docs/deployment/GITLAB_DEPLOYMENT.md
  docs/deployment/RAY_2.53_DEPLOYMENT_GUIDE.md
  docs/deployment/README.md
  docs/deployment/TRAEFIK_DEPLOYMENT.md
  docs/integrations/CLAUDE_SLACK_POC.md
  docs/operations/GITLAB_ADMIN_USER.md
  docs/operations/GITLAB_AGENT_USER.md
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images

feat: Update GitLab Security Action Checklist and add integration test script
  AGENT.md
  docs/archive/audits/GITLAB_IMPLEMENTATION_SUMMARY.md
  docs/archive/audits/GITLAB_IMPLEMENTATION_VALIDATION_CHECKLIST.md
  docs/archive/audits/GITLAB_SECURITY_ACTION_CHECKLIST.md
  scripts/gitlab-integration-test.sh
Due: none

docs(agent): add port binding and database validation requirements to section 5
  AGENT.md
Due: none

docs(agent): comprehensive AGENT.md improvements and pre-flight checklists
  AGENT.md
  apps/ws-gateway/AGENT.md
  docs/BREAKING_CHANGES_PROTOCOL_SUMMARY.md
  docs/SCRIPT_SECURITY_UPDATE_2026-01-08.md
  docs/archive/audits/GITLAB_WEEK_BY_WEEK_EXECUTION_GUIDE.md
  docs/archive/audits/POSTGRESQL_MIGRATION_COMPLETE.md
  docs/archive/retrospectives/2026-01-08-gitlab-hardening-review.md
  docs/archive/retrospectives/gitlab-hardening-2026-01-08.md
  docs/archive/status-reports/FUTURE_SCOPE.md
  docs/handoffs/2026-01-08-gitlab-hardening/00-START-HERE.md
  docs/handoffs/2026-01-08-gitlab-hardening/INDEX.md
  docs/handoffs/2026-01-08-gitlab-hardening/README.md
  docs/handoffs/2026-01-08-gitlab-hardening/SESSION_SUMMARY.md
  docs/handoffs/2026-01-08-gitlab-hardening/container-logs.txt
  docs/handoffs/2026-01-08-gitlab-hardening/docker-logs.txt
  docs/handoffs/2026-01-08-gitlab-hardening/implementation-log.md
  docs/handoffs/2026-01-08-gitlab-hardening/implementation-reflection.md
  docs/handoffs/plan-gitlabBlockerAnalysis.prompt.md
  docs/operations/SESSION_LOGGING_GUIDE.md
  docs/operations/checklists/README.md
  infrastructure/gitlab/GITLAB_INTEGRATION_BLOCKERS.md
  infrastructure/gitlab/docker-compose.yml
  scripts/README.md
  scripts/gitlab-integration-test.sh
  scripts/setup-service-backups.sh
  scripts/test-service-integration.sh
  scripts/validate-service-infrastructure.sh
Due: test-spring-boot-apps, test-python-apps, test-nextjs-apps, build-app-images, validate-docker-compose

feat(infrastructure): GitLab upgrade 18.4.1 → 18.7.1 with mandatory post-deployment cleanup
  AGENT.md
  infrastructure/gitlab/docker-compose.yml
  scripts/gitlab-upgrade-orchestrator.sh
  scripts/gitlab-upgrade-phase0.sh
  scripts/gitlab-upgrade-phase2.sh
  scripts/gitlab-upgrade-phase3.sh
Due: validate-docker-compose

feat(scripts): add automated post-deployment cleanup script
  AGENT.md
  scripts/post-deployment-cleanup.sh
Due: none

docs: finalize GitLab upgrade handoff documentation
  docs/handoffs/2026-01-09-gitlab-upgrade/IMPLEMENTATION_SCRIPT.md
  docs/handoffs/2026-01-09-gitlab-upgrade/README.md
Due: none
